<div class="grid">
    <div class="col-12">
      <h2>Student Master</h2>
    </div>          
  </div>
  
  <div class="grid">
      <div class="col-12">
          <div class="card" style="padding: 8px;"> 
              <p-toast></p-toast>
              <p-table #dt [value]="branches" 
                     [columns]="cols" 
                     [lazy]="true"
                     (onLazyLoad)="loadCustomers($event)"
                     [loading]="loading"
                     (selectionChange)="onSelectionChange($event)"
                     (selectAllChange)="onSelectAllChange($event)"
                     responsiveLayout="scroll" 
                     [rows]="10" 
                     styleClass="p-datatable-sm p-datatable-striped"
                     [globalFilterFields]="['name','code']" 
                     [paginator]="true" 
                     [rowsPerPageOptions]="[10,20,30,50]" 
                     [showCurrentPageReport]="true" 
                     [showPageLinks]="false"
                     [totalRecords]="totalRecords"
                     currentPageReportTemplate="{first} to {last} of {totalRecords}" 
                     [(selection)]="selectedBranch" 
                     selectionMode="multiple"
                     [rowHover]="true" dataKey="id">
  
                  <ng-template pTemplate="caption">
                      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                          <h5 class="m-0">Manage Student</h5>
                          <span class="block mt-2 md:mt-0 p-input-icon-left">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                          </span>
                      </div>
                  </ng-template>
  
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                          <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                          <ng-container *ngFor="let col of columns">
                              <th *ngIf="!col.checkbox" pSortableColumn="{{col.field}}"> {{ col.header }} <p-sortIcon field="{{col.field}}"></p-sortIcon></th>
                          </ng-container>
                      </tr>
                  </ng-template>
  
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr>
                          <td>
                              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                          </td>
                          <ng-container *ngFor="let col of columns">
                              <td *ngIf="!col.checkbox">
                                  {{ rowData[col.field] }}
                              </td>
                          </ng-container>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
  
          
          <!--h2>Library table in page</h2>
          <div class="card" style="padding: 8px;"> 
              <p-toast></p-toast>
              <lib-table [data]="branches" [totalRecords]="totalRecords" [columns]="cols" ></lib-table>
          </div>-->
  
  
         
      </div>
  </div>
  

  <p-dialog header="Fees Alert" [modal]="true" [(visible)]="LoadModel" position="center"  [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="false">
       
       <div style="text-align: center;" *ngIf="userData?.status == 'Unpaid'">
        <h5>{{userData?.studentName}}</h5><br>
        <h3 style="color: red;margin-top: -10px;"><b>Fees Unpaid</b></h3>
        <span>Attendance not accepted</span>
       </div>
       
       <div style="text-align: center;" *ngIf="userData?.status == 'Paid'">
    <h5>{{userData?.studentName}}</h5><br>
        <h3 style="color: green;margin-top: -10px;"><b>Fees Paid</b></h3>
        <span>Attendance accepted</span>
       </div>

        <hr>
        <div class="flex justify-content-end gap-2"  style="float: left;">
            <p-button label="Ok" severity="secondary" (onClick)="LoadModel = false"/>
        </div>
</p-dialog>